<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mxyc_set.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>027166451E0A1107002B472B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0271665E1E0A110A002B472B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>027166691E0A110A002B472B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
